# Игнорируем секретный ключ сервисного аккаунта Яндекса
authorized_key.json

# Игнорируем внутренние бинарники провайдеров
.terraform/
.terraform.lock.hcl

# Игнорируем абсолютно все конфигурации состояния стенда и их бэкапы
*.tfstate
*.tfstate.*

# Игнорируем случайные мусорные файлы Bash-перенаправлений
changed=true
